<h1>Welcome home!</h1>

<div style="height: 60px"></div>

<iframe src="https://giphy.com/embed/3o7aTkzctUbDfzDJ84" width="720" height="405" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/filmeditor-mean-girls-movie-3o7aTkzctUbDfzDJ84"></iframe>

<p><%= link_to 'The Private Club', theclub_path %>!</p>
